<?xml version="1.0"?>
<config>
    <sections>
        <system>
            <groups>
                <gbgeoip translate="label" module="adminnotification">
                    <label>GB Geoip</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>250</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable GB Geoip Redirect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <cookie_lifetime translate="label comment">
                            <label>Cookie Lifetime (seconds)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <comment>If 0, the cookie will be cleared when the browser will be closed.</comment>
                        </cookie_lifetime>
                        <user_agents>
                            <label>User Agents</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <comment>User Agents to exclude from redirect.</comment>
                        </user_agents>
                    </fields>
                </gbgeoip>
            </groups>
        </system>
    </sections>
</config>
